* {
  margin: 0;
  padding: 0;
}

.list {
  margin: 0 auto;
  width: 500px;
  height: 30px;
  display: flex;
  align-items: center;
  list-style: none;
  background-color: pink;
}

.list li {
  flex: 1;
  text-align: center;
}